frontend/node_modules
frontend/.gitignore
frontend/README.md
vapp/__pycache__/
static/
api/__pycache__/
api/migrations/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
