frontend/node_modules
frontend/.gitignore
frontend/README.md
vapp/__pycache__/
static/
api/__pycache__/
api/migrations/__pycache__/
vapp/management/commands/__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

api/management/__pycache__/
calculations/__pycache__/
calculations/migrations/__pycache__/
personality_api/__pycache__/
question_ans/__pycache__/
question_ans/migrations/__pycache__/
user_profile/migrations/__pycache__/
personality_api/migrations/__pycache__/
users_api/migrations/__pycache__/
users_api/__pycache__/
user_profile/__pycache__/

.idea
venv

