.sidebar {
  background: #111023;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;

  transition: all .2s;
}

.sidebar.expanded {
  width: 270px;
}

.sidebar .primary-actions {
  margin-top: 150px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

.sidebar.expanded li {
  overflow: hidden;
}

.sidebar.expanded li a {
  width: 100%;
  text-align: left;
  padding-left: 25px;
}

.sidebar li a span {
  display: none;
}

.sidebar.expanded li a span {
  display: inline-block;
  width: 20px;
  border: 1px solid transparent;
}

.sidebar li a i {
  display: inline-block;
  width: 40px;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul.toggle-menu li {
  border: none;
}

.sidebar ul li {
  border-bottom: 1px solid #1f1f3b;
  display: block;
  width: 100%;
  left: 60px;
  text-align: left;
}

.sidebar ul li a {
  padding: 15px;
}
.sidebar ul li a.active {
  background: #1e1c3a;
}

.sidebar + .main-container {
  position: absolute;
  left: 100px;
  height: 100%;
  width: calc(100% - 300px);
}

.sidebar + .main-container h2 {
  font-size: 1.5em;
  color: #7655ef;
}

.sidebar.expanded + .main-container {
  left: 300px;
}
