html, * {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;

  background: #1e1c3a;
}

* {
  box-sizing: border-box;
  transition: all .2s;
}

a {
  color: #6038aa;
}

/** Layout **/
.sidebar {
  background: #111023;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  text-transform: uppercase;
  margin-left: 25px;
}

.sidebar li a span {
  display: none;
}

.sidebar li a i {
  display: inline-block;
  width: 40px;
}

.sidebar.expanded {
  width: 270px;
}

.sidebar.expanded li a span {
  display: inline-block;
  width: 50%;
  padding-left: 10px;
  text-align: left;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  border-bottom: 2px solid #1f1f3b;
  display: block;
  width: 100%;
  left: 60px;
  padding: 10px 0;
  text-align: left;
}

.sidebar + .main-container {
  position: absolute;
  left: 70px;
  height: 100%;
  width: calc(100% - 80px);
  padding-left: 25px;
}

.sidebar + .main-container h2 {
  font-size: 1.5em;
  color: #7655ef;
}

.sidebar.expanded + .main-container {
  left: 270px;
}

.question-list-container .question-list {
  padding-left: 0;
}

.centered-content {
  width: 60%;
  margin: auto;
}

.centered-content--with-form {
  width: 40%;
}

/** forms **/
form input[type=text],
form input[type=email],
form input[type=password] {
  background: #121025;
  color: #fff;
  padding: 10px 8px;
  font-size: 1rem;
}

form.full-width .form-group input {
  width: 100%;
}

form .form-group {
  height: 5em;
}

form .form-group.inline-label {
  position: relative;
  padding: 15px 0 15px 0;
}

form .form-group.inline-label label {
  position: absolute;
  left: 10px;
  top: 28px;
}
form .form-group.inline-label input:focus + label {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.8em;
  top: -0.2em;
}

form .form-header h1 {
  font-weight: bold;
  font-size: 1.5em;
}

form .form-header p {
  font-weight: 300;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius:  25px;
  border-radius:  25px;
  border: none;
  color: #fff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7655ef+0,4c4996+99 */
  background: #7655ef; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7655ef 0%, #4c4996 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7655ef 0%,#4c4996 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7655ef 0%,#4c4996 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7655ef', endColorstr='#4c4996',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button:hover {
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius:  25px;
  border-radius:  25px;
  border: none;
  color: #fff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b87ed+0,616093+100 */
  background: #9b87ed; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #9b87ed 0%, #616093 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #9b87ed 0%,#616093 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #9b87ed 0%,#616093 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b87ed', endColorstr='#616093',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/** Questions **/
.question-container {
  clear: both;
  margin-bottom: 150px;
}

.question-container .question {
  font-size: 2em;
  font-weight: 400;
  padding: 1.5em 0;
}

.answers-container .answer {
  float: left;
  /*text-align: center;*/
  /*padding: 15px 22px;*/
  margin-right: 8px;


  /*background: #121025;*/
}

.answers-container .answer label {
  /*border: 1px solid red;*/
  width: 100%;
}

.answers-container .answer label span {
  display: block;
  min-width: 50px;
  padding: 15px 22px;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  background: #121025;
}

@keyframes inactiveAnswerHover {
  0% {
    background: #121025;
  }

  100% {
    background: #17142f;
  }
}

.answers-container .answer label span:hover {
  background: #050308;

  animation-name: inactiveAnswerHover;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

.answers-container .answer label input[type=radio]:checked + span {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7655ef+0,4c4996+99 */
  background: #7655ef; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7655ef 0%, #4c4996 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7655ef 0%,#4c4996 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7655ef 0%,#4c4996 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7655ef', endColorstr='#4c4996',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.answers-container .answer input[type=radio] {
  opacity: 0;
  display: none;
}

.tasks-container .task {
  background: #242043;
  display: inline-block;
  height: 350px;
  width: 20%;
  max-width: 280px;
  margin: 0 20px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.tasks-container .task:hover {
  background: #111129;
}

.tasks-container .task a {
  display: block;
  width: 100%;
  height: 100%;
}

.tasks-container .task .task-details {
  position: absolute;
  bottom: 0;
  margin: 0 0 30px 25px;
}

.tasks-container .task .task-details .category {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}

.tasks-container .task .task-details .title {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  font-size: 1.4em;
}

.task#energyflow-task {
  background-image: url(energyflow-task.gif);
  background-size: cover;
}
